<h2>Game List</h2>
<table class = "table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Compañia</th>
            <th>Fecha Lanzamiento</th>
            <th>Plataforma</th>
            <th>Genero</th>
        </tr>
    </thead>
    <tbody>
        <tr>
           <tr *ngFor= "let game of games">
            <td>{{game.name}}</td>
            <td>{{game.company}}</td>
            <td>{{game.release_date}}</td>
            <td>{{game.platform}}</td>
            <td>{{game.genre}}</td>
        </tr>
    </tbody>

        
    
</table>